/* Design inspired by predic8 GmbH http://www.predic8.de 
I need to clean up the vendor prefixes zzZzz....*/

*{
box-sizing: border-box;
margin: 0; padding:0;
outline: none;
}

@font-face{
font-family: 'Black Chancery';
font-style: normal;
font-weight: normal;
src: url('/resources/BlackChancery.woff') format('woff');
}


html,body{
width: 100vw;
overflow-x: hidden;
}


body{
position: relative;
background: url(/resources/bg.png);
color: #4c566c;
font: normal 12px Arial;
text-align: center;
text-shadow: 0px 1px -1px #fff;
-webkit-tap-highlight-color: transparent;
}

a{
color: #2374ab;
text-decoration: none;
}

a:hover{
color: red;
}

a:visited{
color: #2374ab;
}


h2{
text-align: left;
text-transform: lowercase;
font: small-caps bold 16px Arial;
margin: 10px 0 0 12px;
}

p{
margin-top: 20px;
}


ul{
list-style: none;
margin: 0 10px;
}

li{
background-color: white;
border: 1px solid #ababab;
text-align: left;
color: black;
font-weight: bold;
margin-top: -1px;
}


li>*{
display: inline-block;
width: 90%;
padding: 12px 10px;
cursor: pointer;
}



li:hover{
background: rgb(220,220,250);
}

li:first-child{
-webkit-border-top-left-radius: 12px;
-webkit-border-top-right-radius: 12px;
}

li:last-child {
-webkit-border-bottom-left-radius: 12px;
-webkit-border-bottom-right-radius: 12px;
}


#topbar{
background-image: -webkit-gradient(linear, left top, left bottom, 
from(#b4bfce), color-stop( 50%, #889bb3), color-stop(50%, #7f94b0), to(#6d83a1));
border-bottom: 1px solid black;
width: 100%;
height: 40px;
display: flex;
justify-content: space-between;
align-items: center;		
padding: 0 5px;		
}

#topbar>*{
display: flex;
justify-content: center;
align-items: center;				
}


h1{
font: 20px "Black Chancery", "Times New Roman";
text-shadow: 0px 0px 2px #000;
color: white;
}

.button{
-webkit-box-shadow: 0px -1px 1px #2f3740, 0px 1px 1px #bfcbdb;
background-image: -webkit-gradient(linear, left top, left bottom, 
from(#8aa1bf), color-stop( 50%, #5877a2), color-stop(50%, #476999), to(#4a6c9b));
border: 1px solid #3e444c;
-webkit-border-radius: 4px;
z-index: 3;
width: 30px;
height: 30px;
padding: 5px;
color: white;
cursor: pointer;
}

.button>svg{
fill: white;
width: 100%;
height: 100%;				
}


.button.left{
left: 6px;
}

.button.right{
right: 6px;							
}




.sidebar{
position: absolute;
width: 50%; height: 100%;
z-index: 2;
background: rgb(176,196,222,0.7);
transition: .5s linear;
border: 1px solid black;
border-radius: 12px;
}

.sidebar.left{
top:0;
left:-55%;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;							
}

.sidebar.right{
top:0;
right:-55%;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;			
}



.sidebar.left.open{
left: 0; 								
}

.sidebar.right.open{
right: 0;								
}

.sidebar>h2:first-child{
margin-top: 40px;							
}


/*ICONZ*/

li{
position: relative;							
}

.icon{
z-index: 5;
width: 40px; height: 40px;	
display: flex;
justify-content: center;
align-items: center;
position: absolute;		
right:0; top:0;
padding: 0;
}

.icon>svg{
height: 50%;
width: 50%;
}


a[href*=pastebin]+.icon>svg,
a[href*=github]+.icon>svg{
stroke: gray;
stroke-width: .5px;
}


ul.bollywood::after{
content: "Source: https://bollywood.radio";
font: bold 8px Courier;
}


@media(orientation:landscape){
body{
width: 40vw;
left: 30vw;
margin: 5px 0;
border: 1px solid #889bb3;
border-radius: 5px;	
}
}

