#####THE FOLLOWING IS REQUIRED FOR PROTECTED FOLDERS

AuthUserFile ROOT/protected//.htpasswd
AuthName "Enter password to gain access"
AuthType Basic
Require valid-user
########END REQUIRE



#Manage directory listing
Options +Indexes
