body{
background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
background-size: 400% 400%;
animation: gradient 8s ease infinite;
}

@keyframes gradient {
0% {background-position: 0% 50%;}
50% {background-position: 100% 50%;}
100% {background-position: 0% 50%;}
}

#urls,#titles,#result,#inputs{
display:block;
position:relative;
width: 90vw;
margin:0 auto;
box-sizing:border-box;
}

#kopy{
display:inline-block;
position:absolute;
bottom:0;
right:-8px;
border: 1.5px double blue;
background:black;
color:white;
}

#encode{
position:absolute;
top:0;
bottom:0;
z-index:-1;
}

#urls input{
position: absolute;
right:-8px;
border: 1.5px double blue;
border-top: none!important;
background:black;
color:white;
}

h3{
display:block;
text-align:center;
font: bold 16px arial;
color:white;
}

textarea:not(#encode){
display:block;
position: relative;
width:100%;
background:black;
color: white;
border: 2px double yellow;
font: bold 14px 'Courier New';
height:500px;
}

#result textarea{
height:700px! important;
}

#warning{
text-align: center;
font: bold 14px Courier New; 
color:white;
}

#warning a{
color:#00ff18;
padding: 5px;
background:blue;
}

